@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-image: linear-gradient(90deg, #FF047B 30%, #d00 100%);
  font-family: "Montserrat", sans serif;
  color: #fde;
  overflow: hidden;
}
p {
  width: 5.9em;
  margin: auto;
  padding-top: 26vh;
  text-align: center;
  font-size: 4em;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.55);
}
span {
  white-space: pre;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.falling {
  white-space: pre;
  transform: translate(0px, 0px);
  animation: 3s ease-in 0s fall-and-rotate;
}

@keyframes fall-and-rotate {
  0% {
    color: white;
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    color: red;
    transform: translate(0px, 500px) rotate(360deg);
  }
  50.1% {
    transform: translate(0px, -400px) rotate(360deg);
  }
  100% {
    color: white;
    transform: translate(0px, 0px) rotate(720deg);
  }
}